body{
  text-align: center;
  font-family: sans-serif;
  background-color: pink;
}
.indexHeading{
  margin-top:25%;
}
.orderButton{
  font-size: 1.2em;
}
.menuIcon{
  width: 150px;
}
.menuList{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: space-between;
}
.menuItem{
  margin: 2%;
  /**  padding:0;
  width: 20%;**/
}
